{% extends "base.html"%}

{% block content %}
<div style="margin-top: 40px; margin-bottom: 40px;">
    <div class="col-md-5 pt-3" style="margin:auto">
        <h1>What is this site</h1>
            <p class="text-left">
                In 2020, the American student debt crisis has risen to over 1.5 trillion dollars spread 
                across only 45 million young and bright student. Why are schools punishing students for pursing 
                their dreams? Worst yet, Black and Hispanic students owe more than other races since their loans 
                have greater interest rates. Debt imprisons people to frugal and harash lives, despite university 
                being known as the gateway to success. However, this burden can be relieved by scholarships.
                Only 8.1% of the population recieve some pocketchange to pay for their degrees. Our website strives 
                to connect students, especially marginalized students, to scholarship organizations to recieve 
                as much aid as needed. If you're a highschool student or organization, continue reading.
            </p>
        <h1>For students</h1>
            <p class="text-left">
                Once you've signup, you can search and filter for scholarships that meet your needs. Then you 
                can either fill out the forms or save it for later. Visit your profile to review your previous
                and saved applications.
            </p>

        <h1>For organization</h1>
            <p class="text-left">
                Register your organization in our website, then you can make posts to your scholarships. 
                You can either use your existing scholarship forms or create one with our application form creator.
                Once it is time to review the scholarships, you can just download all of them at once for review.
            </p>
        <h1>User Guide</h1>
        <iframe width="711px" height="400px" src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style=" margin:auto; display:block;"></iframe>
    </div>
</div>
{% endblock %}