{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<style>
.form-group{
    margin: 20px 0px;
}
</style>	
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-md-5 pt-3" style="margin-top: 40px; margin-bottom: 40px">
            <form class ="pt-3">
                {{ form|crispy }}
            </form>
        <div style= "margin-bottom: 10px;">
            <a class="forgotPassword text-decoration-none" href="#">Forgot Password?</a>
        </div>
        <div class="d-grid gap-4 text-center pt-3">
            <button class="btn btn-primary" type="submit" value="ok">Login</button>
            <!--<a class="createAccount text-decoration-none pt-3S" href="{% url 'signup' %}">Create an Account</a>-->
            </div>
        </div>
    </div>
</form>
{% endblock %}



