{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content%}

<style>
    .form-group{
        margin-top: 40px;
        margin-bottom:40px
    }
    .asteriskField {
        display: none;
    }
</style>

<form method="post" action="{% url 'post' %}">
    {% csrf_token %}
    <div class="container" style="width:40%; margin-top:40px">  
        {%for message in messages%}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
      {%endfor%}          
        <div class="mb-3">
            {{ form|crispy }}   
        </div>
        <div class="d-grid gap-2 d-md-flex" style="justify-content: space-around; margin-top:40px;">
            <button class="btn btn-primary" style="width:50%" type="submit">Submit Post</button>
            <a href="{% url 'form'%}" role="button" class="btn btn-outline-primary" style="width:50%; overflow: hidden;" target="_blank">Need a form? Create One!</a>
        </div>
    </div> 
</form>
{% endblock %}