{% extends 'base.html' %}

{% block content%}

<form method="post" action="{% url 'apply' UUID %}">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-md-5 pt-3" style="margin-top: 40px; margin-bottom: 40px">
            <h4 class="text-left">Post: {{post.title}}</h4>
            <h4 class="text-left">Post description: {{post.description}}</h4>
            <h4 class="text-left">Organization: {{post.organization}}</h4>
            <h4 class="text-left">Value: {{post.value}}</h4>
            <div class="mb-3">
                <label for="answer1" class="form-label">Question: {{form.question1}} (Max 1000 Char)</label>
                <textarea class="form-control" name="answer1" rows="5"></textarea>
            </div>
            {%if form.question2%}
            <div class="mb-3">
                <label for="answer2" class="form-label">Question: {{form.question2}} (Max 1000 Char)</label>
                <textarea class="form-control" name="answer2" rows="5"></textarea>
            </div>
            {% endif %}
            {%if form.question3%}
            <div class="mb-3">
                <label for="answer3" class="form-label">Question: {{form.question3}} (Max 1000 Char)</label>
                <textarea class="form-control" name="answer3" rows="5"></textarea>
            </div>
            {% endif %}
            <button class="btn btn-primary" style="width:100%" type="submit">Submit Form</button>
        </div>
    </div>
</form>

{% endblock %}