{% extends "base.html"%}
{% load crispy_forms_tags %}

{% block icons%}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<style>
  .form-group{
      margin-top: 40px;
      margin-bottom:40px
  }
  .asteriskField {
      display: none;
  }
</style>

<script>
</script>
<form method="post" action="{% url 'form' %}">
  {% csrf_token %}
  <div class="container" style="width:40%; margin-top:40px"> 
    <h4>
      Fill out the questions you would like to ask and add more if needed (Max 3). 
      Paste the given link to connect your scholarship post to connect the form to the post.
    </h4>           
      <div class="mb-3">
          {{ form|crispy }}
      </div>
      <button class="btn btn-primary" style="width:100%" type="submit">Create Form</button>
    </div>
</form>

  
{% endblock %}

